# direnv
.envrc
.direnv
# audio files
*.opus
*.mp3
*.part
*.ytdl
*.webm
# python
**__pycache__**
# local cache
.music_cache.json
.music_cache.*.json
.cache.*.json
# secrets
.env
# build
build
# os files
.DS_Store
