@import "tailwindcss";

@theme {
	--color-primary-50: #F4EEE0;
	--color-primary-100: rgb(200 192 171);
	--color-primary-200: rgb(158 142 98);
	--color-primary-700: #6D5D6E;
	--color-primary-800: #4F4557;
	--color-primary-900: #393646;
}

:root {
	color-scheme: dark; /* both supported */
}

/* svelte-select */
.svelte-select {
	--background: var(--color-primary-900);
	--list-background: var(--color-primary-800);
	--item-active-background: var(--color-primary-900);
	--item-hover-bg: var(--color-primary-700);

	--item-color: var(--color-primary-50);
	--placeholder-color: var(--color-primary-50);

	--border: 1px solid var(--color-primary-700);
}
