<!DOCTYPE html>
<html lang="en">

<head>
    <title>Guitar Music</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ url_for('static', path='/guitar.png') }}" />
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body>
    {% for music in musics %}
    <div>
        <h2>{{ music.title }} - {{ music.artist }}</h2>
        {% for part in music.parts %}
        <div style="display: flex; align-items: center;">
            <span style="margin-right: 1rem;">{{ part.typ }} {{ part.extra }}</span>
            <audio controls preload="none" src="{{ url_for('static', path=part.filename) }}"></audio>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</body>

<div style="font-size: smaller; margin-top: 1rem;">
    <a href="https://www.flaticon.com/free-icons/guitar" title="guitar icons">Guitar icon created by Freepik -
        Flaticon</a>
</div>

</html>
